<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .home-button {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .profile-button {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
        }
        .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .username {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <a class="home-button" href="{{ url_for('dashboard') }}">Home</a>
    <a class="profile-button" href="{{ url_for('profile') }}">
        {% if current_user.is_authenticated %}
            {% if current_user.profile_pic_url %}
                <img src="{{ url_for('static', filename=current_user.profile_pic_url) }}" alt="Profile Picture" class="profile-pic">
            {% else %}
                <img src="{{ url_for('static', filename='uploads/profile_pics/default_profile_pic.jpg') }}" alt="Default Profile Picture" class="profile-pic">
            {% endif %}
            <span class="username">{{ current_user.username }}</span>
        {% endif %}
    </a>
    {% block content %}
    {% endblock %}
</body>
</html>