{% extends 'base.html' %}

{% block title %}Apply For DL{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driving License Application</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .container { max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .form-group { margin-bottom: 15px; }
        .form-group label { display: block; margin-bottom: 5px; }
        .form-group input { width: 100%; padding: 8px; box-sizing: border-box; }
        button { padding: 10px 15px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; }
        button:hover { background-color: #0056b3; }
    </style>
</head>
<body>
    <div class="container">
        <h2>Driving License Application</h2>
        <div class="form-group">
            <label for="aadhaarNumber">Aadhaar Number:</label>
            <input type="text" id="aadhaarNumber" name="aadhaarNumber" required pattern="\\d{12}">
            <button type="button" onclick="fetchDetails()">Fetch Details</button>
        </div>
        <form id="applicationForm" action="/book_date_time/" method="get" style="display: none;">
            <input type="hidden" id="user_id" name="user_id">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" required>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
            </div>
            <button type="submit">Book Date and Time</button>
        </form>
    </div>

    <script>
        function fetchDetails() {
            const aadhaarNumber = document.getElementById('aadhaarNumber').value;
            fetch('/get_details', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    'aadhaarNumber': aadhaarNumber
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('applicationForm').style.display = 'block';
                    document.getElementById('user_id').value = data._id;
                    document.getElementById('applicationForm').action = "/book_date_time/" + data._id;
                    document.getElementById('name').value = data.name;
                    document.getElementById('email').value = data.email;
                    document.getElementById('phoneNumber').value = data.phone_number;
                    document.getElementById('address').value = data.address;
                }
            });
        }
    </script>
</body>
</html>

{% endblock %}
