<!-- templates/status.html -->
{% extends 'base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Status</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .container { max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .form-group { margin-bottom: 15px; }
        .form-group label { display: block; margin-bottom: 5px; }
        .form-group input { width: 100%; padding: 8px; box-sizing: border-box; }
        .status { font-weight: bold; margin-top: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <h2>Application Status</h2>
        <div class="form-group">
            <label for="aadhaarNumber">Aadhaar Number:</label>
            <input type="text" id="aadhaarNumber" name="aadhaarNumber" value="{{ user.aadhaar_number }}" readonly>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ user.name }}" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{ user.email }}" readonly>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" value="{{ user.phone_number }}" readonly>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" value="{{ user.address }}" readonly>
        </div>
        <div class="form-group">
            <label for="testDate">Test Date:</label>
            <input type="text" id="testDate" name="testDate" value="{{ user.testDate }}" readonly>
        </div>
        <div class="form-group">
            <label for="testTime">Test Time:</label>
            <input type="text" id="testTime" name="testTime" value="{{ user.testTime }}" readonly>
        </div>
        <div class="status">
            <label>Status:</label>
            <span>{{ user.status }}</span>
        </div>
    </div>
</body>
</html>
{% endblock %}
